
    <div class="content" >
      <h1><%= @title %></h1>

      <% unless @users.empty? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </div>
    <div class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
    </div>