<div class="content_cell">
  <h1>Data Contributors</h1>  
  <p><%= number_to_human(@info.total_studies) %> studies contributed a total of <%= number_to_human(@info.total_interactions) %> directed interactions across <%= number_to_human(@info.total_source_taxa) %> source taxa and <%= number_to_human(@info.total_target_taxa) %> target taxa. </p>
  <table id="table-3">
    <tr>
      <th>Contributor</th>
      <th>Institution</th>
      <th>Study Title</th>
      <th>Distinct Source Taxa</th>
      <th>Distinct Target Taxa</th> 
      <th>Total Interactions</th>
      <th>Period</th>
    </tr>
    <% @contributors.each do |contributor|  %>
      <tr>
        <td><%= contributor.name.html_safe if contributor.name %></td>
        <td><%= contributor.institution.html_safe if contributor.institution %></td>
        <td><%= contributor.studyTitle.html_safe if contributor.studyTitle %></td>
        <td><%= contributor.numberOfPredatorSpecies %></td>
        <td><%= contributor.numberOfPreyTaxa %></td>
        <td><%= contributor.numberOfInteractions %></td>
        <td><%= contributor.timePeriod if contributor.timePeriod %></td>
      </tr>
    <% end %>
  </table>
</div>
