<div align="center" >
  <div id="map_for_location_page" class="mapOnLocationPage" ></div>
</div>
<div style="margin: 30px;">
  <% if @specimens && !@specimens.empty? %>
    <div style="text-align:left; padding-bottom: 30px; font-weight: bold;">
      <%= pluralize(@specimens.count, "Specimen") %>
    </div>
    <% external_ids = Array.new %>
    <% @specimens.each_with_index do |specimen, index| %>
      <div class="result_list_item row" >

        <% if specimen.thumbnail %>
          <div id="<%= specimen.speciesExternalId %>" class="span1">
            <img src="<%= specimen.thumbnail %>" /><br/>
          </div>
        <% else %>
          <div id="<%= specimen.speciesExternalId %>:<%= index %>" class="span1"></div>
        <% end %>

        <div class="span5">
          <a href="<%=specimen.taxonUri%>" target="_NEW_EOL"><%= specimen.species %></a>
          <% if specimen.length_in_mm %>
            / <span>Length:</span> <%= specimen.length_in_mm %> mm <br/>
          <% end %>
        </div>

      </div>
    <% end %>
    <script type="text/javascript">
      image_divs = $("div[id^='EOL:']")
      for (i = 0 ; i < image_divs.size(); i++ ){
        image_div = image_divs[i]
        url = "/thumbnails.json?image_id=" + image_div.id
        setTimeout(fetch_thumbnail( url ), 1000)
      }

      function fetch_thumbnail(url){
        $.get(
            url,
            function(data) {
              if (data['error']){
                // alert( data['error'] )
              } else {
                append_image(data)
              }
            }
        );
      }

      function append_image(data){
        div = document.getElementById("EOL:" + data['eolpageId'] + ":" + data['index'])
        img = document.createElement("img")
        img.src = data['thumbnailURL']
        div.appendChild( img )
      }
    </script>
  <% else %>
    No Specimens available for the selected location.
  <% end %>
</div>
