<!DOCTYPE html>
<html>
<head>
  <title>Trphic Graph</title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= render :partial => 'js/gmap.js.erb' %>
  <script type="text/javascript" src="/javascripts/markerclusterer.js"></script>
  <script type="text/javascript" src="/javascripts/ajax-basic.js" ></script>
</head>

<body onload="initialize()">
	<div class="container">
		<%= render 'layouts/header' %>
		<section class="round" >
			<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
        <br/>
        <br/>
	</div>
</body>

</html>